<h5>Cadastro de Curso</h5>
        <hr>
        <form>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputCity">ID Curso / cohort</label>
                <input type="text" class="form-control" id="inputCity">
              </div>

              <div class="form-group col-md-7">
                  <label for="inputCity">Titulo / Nome do Curso</label>
                  <input type="text" class="form-control" id="inputCity">
              </div>
                <div class="form-group col-md-3">
                  <label for="inputZip">Data Cadastro</label>
                  <input type="date" class="form-control" id="inputZip">
                </div>
            </div>

            <hr>
            <div class="form-row">
              <div class="form-group col-md-3">
                <input type="number" class="form-control" id="inputZip" placeholder="Numero de Disciplinas">
              </div>
              <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-success">Gerar Campos</button>
              </div>
              <hr>
            </div>
            <div class="form-row">
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">ID</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Sala Moodle">
                </div>

                  <div class="input-group col-md-10">
                    <div class="input-group-prepend">
                      <div class="input-group-text">DISCIPLINA</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Nome Sala no Moodle">
                  </div>
            </div>
            <hr>
            <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Observações</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-outline-danger">Cancelar</button>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </form>